.agents {
  display: flex;
  justify-content: center;
}

.category {
  margin: 0 auto;
  text-align: center;
  background: #9442ff;
  border-radius: 8px;
  color: white;
  width: 30%;
}

.category h5 {
  padding-top: 1rem;
}

.category select {
  margin-bottom: 1rem;

  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #dee2e6;
  margin: 0.5rem auto;
  border-radius: 8px;
}

.category button {
  margin: 0.5rem;
}
