.container {
  background: #9442ff;
  width: 60%;
  margin: 0 auto;
  padding: 2rem 0;
  box-shadow: 0 10px 25px rgba(79, 82, 177, 0.35);
  border-radius: 8px;
  color: white;
  margin-bottom: 3rem;
}

.container h2 {
  margin: 1rem auto;
  text-align: center;
  font-weight: bold;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form label,
.container form input {
  width: 80%;
  margin: 0 auto;
}

.container form label {
  font-weight: 550;
  font-size: 1.1rem;
}

.container form input {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  border: 1px solid #dee2e6;
  margin: 0.5rem auto;
  border-radius: 8px;
}

.container form textarea {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #fff;
  border: 1px solid #dee2e6;
  margin: 0.5rem auto;
  border-radius: 8px;
  width: 80%;
  height: 6rem;
}

.container form button {
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 20%;
  text-align: center;

  background-color: #3eaf42;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
